language: node_js
cache:
  yarn: true
  directories:
    - node_modules
node_js:
  - "7.2.1"
before_script: yarn add react@^16.0.0 react-dom@^16.0.0 --peer
after_success: yarn run coverage
after_script: yarn run coveralls
