name: Tests

on:
  pull_request:
    branches: [master]

jobs:
  check:
    name: Test

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Check repo
        uses: actions/checkout@v2
      - name: Prepare Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Deps
        run: yarn
      - name: Run Tests
        run: yarn test
